$primaryBackgroundColor: black;
$secondarycolor: #ffffff;

$color1: #e07d7d;
$color2: #5ab8a3;
$color3: #3a1799;
$color4: #ca258b;
$color5: #63baec;


$font-weights: ("regular": 400, "medium": 500, "bold": 700);
